#foot {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  border-top: 1px solid #f0f0f0;
  background-color: #fbfbfb;
}
#foot ul {
  position: relative;
  left: -20px;
  width: 100%;
  text-align: center;
}
#foot ul li {
  width: 25%;
  float: left;
  list-style: none;
}
#foot ul li a {
  color: #a6a6a6;
}
#foot ul li a p {
  font-size: 10px;
}
#foot ul li a img {
  width: 30px;
  height: 30px;
}
