* {
  margin: 0 ;
  padding: 0;
}
body {
  background: rgba(148, 140, 93, 0.24);
}
#head {
  z-index: 1;
  height: 40px;
  width: 100%;
  background: white;
  text-align: center;
  border-bottom: 1px solid rgba(11, 5, 5, 0.2);
  font-size: 16px;
  line-height: 40px;
}
#head span {
  float: left;
}
#head span a {
  color: rgba(75, 67, 37, 0.24);
}
.form-group {
  padding-top: 20px ;
}
.form-group input {
  position: absolute;
  left: 10%;
  width: 80%;
  border-radius: 5px;
}
.form-group #psw {
  top: 20px;
  position: relative;
  width: 40%;
}
.form-group #yanzheng {
  top: 5px;
  position: relative;
}
.form-group #shezhi {
  position: relative;
  top: -8px;
}
#denglu {
  font-size: 14px;
  color: rgba(8, 4, 4, 0.38);
  text-align: center;
  top: 20px;
  left: 10%;
  position: relative;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  width: 80%;
  background: rgba(212, 204, 141, 0.24);
  cursor: pointer;
}
#yijianzhuce {
  font-size: 14px;
  color: rgba(8, 4, 4, 0.2);
  text-align: center;
  top: 40px;
  left: 10%;
  position: relative;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  width: 80%;
  background: white;
  cursor: pointer;
  border: 1px solid red;
  color: #fd0800;
}
#miandenglu {
  top: -10px;
  position: relative;
  left: 8%;
}
#miandenglu #xuanxiang {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
}
#wangjimima {
  position: relative;
  left: 9%;
  top: 10px;
  width: 80%;
}
#wangjimima #suo {
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
#wangjimima span a {
  color: black;
  text-decoration: none;
}
#fangshi {
  text-align: center;
}
#fangshi p {
  position: relative;
  top: 30px;
}
#fangshi img {
  position: relative;
  top: 20px;
  width: 80%;
  height: 1px;
}
#tubiao img {
  margin: 2%;
  position: relative;
  top: 30px;
  width: 30px;
  height: 30px;
}
